@font-face {
  font-family: "Old-Computer";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/9Slide07-VT323.ttf");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

$firstPrimaryColor: #e27d8d;
$secondPrimaryColor: #c9d27e;
$thirdPrimaryColor: #e6b67a;
$fourthPrimaryColor: #414b86;

$firstSupportColor: #ecb0ba;
$secondSupportColor: #ebe7f0;
